<!doctype html>
<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script>
(function(){
    var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
})("woopra");

woopra.config({
    domain: "topcomment.io"
});
woopra.track();
</script>


  
<title>NEWS</title>




{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}


<div class="topbar">
<header>
</header>
</div>


<h1 class="maintitle">Paul's News</h1>


<!-- <img src="http://placekitten.com/g/200/300"></img> -->

<div class="totallist">
<ul>
  {%for a, b, c in zipped%}
  <li ><h4 class="titlelink"><a href="{{ c }}">{{ a }}</a></h4></li>
  <div class="commentlist">
  <li class="{{ loop.cycle('red', 'green', 'yellow') }}"><h2 class="comment">{{ b }}</h2></li>
  </div>  
  {% endfor %}
</ul>
</div>

{% endblock %}







<!-- 
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  <dl>
    <dt>Text:
    <dd><input type=text size=30 name=puntext>
    <dd><input type=submit value=Share>
  </dl>
</form>
 -->
  <!-- <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.puntext }}</h2>  NOT SURE WHY .PUNTEXT WORKS
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
 -->

