<!doctype html>
<title>NEWS</title>



{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}


<div class="topbar">
<header>
</header>
</div>


<h1 class="maintitle">Paul's News</h1>


<!-- <img src="http://placekitten.com/g/200/300"></img> -->


<ul>
  {%for a, b, c in zipped%}
  <li><h4 class="titlelink"><a href="{{ c }}">{{ a }}</a></h4></li>
  <div class="commentlist">
  <li><h2 class="comment">{{ b }}</h2></li>
  </div>
  {% endfor %}
</ul>


{% endblock %}









<!-- 
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  <dl>
    <dt>Text:
    <dd><input type=text size=30 name=puntext>
    <dd><input type=submit value=Share>
  </dl>
</form>
 -->
  <!-- <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.puntext }}</h2>  NOT SURE WHY .PUNTEXT WORKS
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
 -->

